/*make global css only set background color and the navbar*/


body {
    background-color: #001220;
    margin: 0;
}

h1 {
    color: cyan;
    text-shadow: none;
}

.part {
    aspect-ratio: 960/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.part-img {
    background-image: url("./assets/layered-waves-haikei.svg");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-navbar > a {
    display: block;
    border: 2px solid #00b1ff;
    text-decoration: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.avatar-box{
    display: flex;
    justify-content: center;
    align-items: center
}

.avatar{
    scale: 80%;
    border-radius: 50%;
    transition: .5s;
    animation: spin 5s linear infinite;
}

.avatar:hover {
    scale: 100%;
    box-shadow: 0 0 20px 10px #00b1ff;
}

