/* REDESIGN*/
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Center All Page Elements in a Column Like Style */
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
    width: 100vw;
}

/* Container Styling */
.container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-radius: 15px;
    width: 90%; /* % is based on parent */
    height: 70%; /* % is based on parent */
}

/* Avatar */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.avatar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.avatar {
    border-radius: 50%;
    animation: spin 5s linear infinite;
    transition: transform 0.3s, box-shadow 0.3s;
}

.avatar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 10px rgba(0, 177, 255, 0.5);
}

/* Background Image */
.part-img {
    background-image: url("./assets/layered-waves-haikei.svg");
    background-size: cover;
    border-radius: 15px;
}