/* OUTLINE ALL ELEMENTS */
/* body,body * {
    border: 5px solid #000;
    border-radius: 15px;
} */

.main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-navbar > a {
    display: block;
    text-decoration: none;
}